classification/
clustering/
computer vision/
nlp/
regression/
reinforcement learning/
data_/

cleaned_ntb_only_en.csv
cleaned_ntb.csv
cleaned_ntb.pkl
cleaned_ntb_scd.pkl
cleaned_ntb_only_en_scd.csv
cleaned_ntb_scd.csv
cleaned_ntb_only_en_scd.pkl
test.ipynb
text_dataset.pkl
domain_data.csv
final_data.csv
interm_df_260000.pkl
technique_data.csv
vect_data_final.csv
test_data.csv
data.csv
new_df.csv
new_df_technique.csv
vect_0_10000.csv
vect_10000_20000.csv
vect_20000-30000.csv
vect_30000_40000.csv
vect_40000_50000.csv
vect_50000_60000.csv
vect_70000.csv